#hero, footer{
  background: linear-gradient(300deg, #053B50, #176B87, #64CCC5);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body{
  display: flex;
  flex-direction: column;
  margin:0;
}

h1{
  font-family: 'Indie Flower', cursive;
  color: #EEEEEE;
  margin: 0;
  padding: 0rem;
  width: auto;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
}

h2{
  font-family: 'Roboto', sans-serif;
  color: #176B87;
  padding: 0rem;
  width: auto;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #176B87;
  width: 19rem;
}

p{
  font-size: 1.125rem;
  text-align: left;
  color: black;
  height: auto;
  width: 19rem;
  text-align: left;
}

.text{
  font-family: 'Roboto', sans-serif;
  color: #EEEEEE;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
}

span{
  color: #EEEEEE;
}

img{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin: 2rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.color-bg{
  background-color: #EEEEEE;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin: 0;
  padding: 3rem 0rem 3rem 0rem;
}

.hero-container > h2{
  position: relative;
  bottom: 2rem;
}

#skills > div > div > div{
  background-color: #EEEEEE;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: #e9e8e8 solid 1px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}


#about-me > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me > div > div > a{
  color: #e9e8e8;
  text-decoration: none;
  background-color: #176B87;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
  border-radius: 1rem;
}

span, #about-me > div > div > a{
  margin: 1rem;
}

@media (min-width:319px) and (max-width:480px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  }

  .text{
    font-size: 1rem;
  }
  .skills-container > div{
    display: block;
    margin: 0rem 1rem 0rem 1rem;
  }

  #skills > div > div > div{
    margin: 2rem 0rem 2em 0rem;
  }
}

@media (min-width:481px) and (max-width:992px){
  h1{
    font-size: 5em;
  }
  h2{
    font-size: 2em;
  }
  .text{
    font-size: 1.5em;
  }
  .skills-container > div{
    display: block;
  }

  #skills > div > div > div{
    margin: 2rem 0rem 2rem 0rem;
  }
}

@media (min-width:993px){
  .skills-container > div{
    display: flex;
  }
  h1{
    font-size: 6em;
  }
  h2{
    font-size: 2.5em;
  }
  .text{
    font-size: 2em;
  }
}

